@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", serif;
}

body {
    margin: 0;
    border: 0;
}

.main-page-container {
    width: 100vw;
    height: 100vh;

    /* background-color: red; */

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    font-size: 200%;
    opacity: 0;
    animation: 1s reveal forwards;
}

@keyframes reveal {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}