body {
    margin: 0;
    border: none;

    width: 100vw;
    height: 100vh;

    overflow: none;

    max-width: 100%;
    max-height: 100%;
}

.order-container {
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.order-box {
    width: 30vw;
    height: 90vh;

    color: white;

    /* background-color: blue; */
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);

    text-align: center;
    animation: reveal-box 1s forwards;
}

@keyframes reveal-box {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.create-pizza {
    border: none;
    padding: 1vw;

    transition: 0.3s ease;
}

.create-pizza:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(207, 207, 207, 0.8);
}

.delivery-box {
    width: 20vw;
    height: 5vh;

    margin-left: 15%;

    display: flex;

    margin-bottom: 2%;
}

.delivery-box-name {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.delivery-text-box {
    position: relative;
}

.delivery-box-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    border: none;
    padding: 0.7vw;

    margin-top: 5%;

    transition: 0.3s ease;
}

.submit-button:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(207, 207, 207, 0.8);
}

.toppings-list {
    margin-top: 10%;
}

.pizza-dropdown {
    width: 10vw;
    height: 5vh;
}