<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>Making Pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6978/6978255.png">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}">

    <!-- ############## Font Choices from Google ########################## -->

    <!-- ##### LIBRE FRANKLIN #####  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
</head>

<body>

    {% include 'base.html' %}
    
    {% block content %}
        <div class="order-container">
            <div class="order-box">
                <h2>Delivery Information</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.address.label_tag }}
                        {{ form.address }}
                    </div>
                    <div class="form-group">
                        {{ form.cardNo.label_tag }}
                        {{ form.cardNo }}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form.expMonth.label_tag }}
                            {{ form.expMonth }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.expYear.label_tag }}
                            {{ form.expYear }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.cvv.label_tag }}
                            {{ form.cvv }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                </form>
            </div>
        </div>
    {% endblock %}
</body>

</html>