{% extends 'base.html' %}

{% block content %}
<h1>My Orders</h1>

{% for delivery in deliveries %}
    <div class="order-item">
        <h3>Delivery #{{ delivery.id }}</h3>
        <p>Delivery Address: {{ delivery.address }}</p>
        <p>Order Date: {{ delivery.created_at }}</p>

        <br />
        <h4>Pizza Details: {{delivery.pizza.size}}</h4>
        
        {% for pizza in pizzas %}
            <div class="pizza-details">
                <h4>Pizza Details: {{pizza.crust}} </h4>
                <p>Size: {{ pizza.size }}</p>
                <p>Toppings:</p>
                <ul>
                    {% for topping in pizza.toppings.all %}
                        <li>{{ topping.topping }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% empty %}
    <p>No orders found.</p>
{% endfor %}

{% endblock %}
